<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852417564860-8belg7niorem4ka95tmv7ect28nd9jea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852417564860-8belg7niorem4ka95tmv7ect28nd9jea</string>
	<key>API_KEY</key>
	<string>AIzaSyCVP2O2DXMxNlnzxAVJRxg3X-AYb1VUUaY</string>
	<key>GCM_SENDER_ID</key>
	<string>852417564860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.madein.foot.tv</string>
	<key>PROJECT_ID</key>
	<string>application-mobile-made-in</string>
	<key>STORAGE_BUCKET</key>
	<string>application-mobile-made-in.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852417564860:ios:933bee468c78caff9d00b9</string>
	<key>DATABASE_URL</key>
	<string>https://application-mobile-made-in.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-9330152050131267~9991096017</string>
</dict>
</plist>